
# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDE and editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.pyc
*.pyo
*.pyd

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Compiled Python files
*.pyc

# Compiled C extensions
*.pyd

# Python installer files
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook specific files
.ipynb_checkpoints/

# Ignore environment-specific files
.env
